# Beispiel SBFspot.cfg - bitte LocalBTAddress, OutputPath, Timezone und Plantname anpassen.
LocalBTAddress=00:00:00:00:00:00
OutputPath=/data
Timezone=Europe/Berlin
Plantname=Amann
CSV_Export=1
CSV_ExtendedHeader=1
CSV_Header=1
CSV_SaveZeroPower=1
CSV_Delimiter=semicolon
